.gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 20em;
    gap: 1em;

    grid-template-areas: 
    "a b b c c"
    "a b b d e"
    "f f g h h"
    "i i g j j";

    @include responsive(small-desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a b b c"
        "d d e c"
        "f g g h"
        "f i j j";
    }

    @include responsive(phone) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a a"
        "b c"
        "b d"
        "e f"
        "g f"
        "h h"
        "i j";
        
    }

    @include responsive(small-phone) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j";
        
    }
}

.gallaryImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }
.j { grid-area: j; }