

.Header {
    background-color: black;
}

.HeaderOuter {
    padding: 1em 12em;
    height: 14em;

    @include responsive(tab-land) {
        padding: 1em 2em;
        height: 13em;
    }

    @include responsive(tab-port) {
        padding: 1em 2em;
    }

    @include responsive(phone) {
        padding: 1em 1em;
    }

    @include responsive(small-phone) {
        padding: 1em 2em;
    }
}

.HeaderContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-template-columns: 2fr 10fr 4fr;
    gap: 1em 4em;

    

    @include responsive(tab-land) {
        grid-template-columns: 2fr 9fr 1fr;
        gap: 1em 2em;
        justify-content: center;
        grid-template-rows: 2fr 1fr;
    }

    @include responsive(phone) {
        grid-template-columns: 2fr 7fr 2fr;
        gap: 0.5em 1em;
    }

    @include responsive(small-phone) {
        grid-template-columns: 2fr 7fr 2fr;
        gap: 0.1em 1em;
    }
}

.HeaderImageContainer {
    grid-row: 1 / 3;
}

.headerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.HeaderHeader {
    $borderColor: #bbb;
    $borderWidth: 1px;

    color: #FF3333;
    text-shadow: -1 *$borderWidth -1 * $borderWidth 0 $borderColor, $borderWidth -1 * $borderWidth $borderColor, -1 * $borderWidth $borderWidth 0 $borderColor, $borderWidth $borderWidth 0 $borderColor;
    font-size: 1.4em;  
    display: flex;
    align-items: center;
    justify-self: start;

    @include responsive(tab-port) {
        
        max-width: 90%;
    }
}

.HeaderHeader > h1 {
    margin: 0em;
}

.ltd {
    font-size: 0.6em;
}

.HeaderRight {
    display: flex;
    align-items: center;
    font-size: 0.8em;

    @include responsive(tab-land) {
        flex-direction: row-reverse;
        justify-content: start;
    }
}

.HeaderContact {
    color: white;
    margin-right: 3em;
    text-align: right;  
    
    @include responsive(tab-land) {
        text-align: left;  
        margin-left: 2em;
    }
}

.HeaderContactEntry {
    color: #ccc;
}

.HeaderContactEntry > a{
    text-decoration: none;
    color: #ccc;
}

.HeaderContactEntry > a:hover{
    color: #fff;
}

/* Style all font awesome icons */
.fa {
    padding: 0.6em 0.66em;
    font-size: 2.6em !important;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.burgerIcon {
    display: none;

    @include responsive(tab-land) {
        display: block;

        width: 70px;
        height: 70px;
    }
}

.burgerBar {
    width: 100%;
    height: 10%;
    background-color: white;
    margin: 17.5% 0;
}

.nav {
    width: 100%;
    height: 100%;
    grid-column: 2/4;
    display: flex;
    color: #ddd;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
    @include responsive(tab-land) {
        display: none;
    }
}

.navLink{
    margin-right: 2em;
    text-align: center;
}

.navLink > a{
    text-decoration: none;
    color: #ccc;
}

.navLink > a:hover{
    color: #fff;
}
