.Header {
  background-color: black;
}

.HeaderOuter {
  padding: 1em 12em;
  height: 10em;
}
@media only screen and (max-width: 1400px) {
  .HeaderOuter {
    padding: 1em 2em;
    height: 12em;
  }
}
@media only screen and (max-width: 900px) {
  .HeaderOuter {
    padding: 1em 2em;
    height: 14em;
  }
}
@media only screen and (max-width: 600px) {
  .HeaderOuter {
    padding: 1em 1em;
  }
}
@media only screen and (max-width: 350px) {
  .HeaderOuter {
    padding: 1em 2em;
  }
}

.HeaderContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  grid-template-columns: 2fr 10fr 4fr;
  gap: 1em 4em;
}
@media only screen and (max-width: 1400px) {
  .HeaderContent {
    grid-template-columns: 2fr 9fr 1fr;
    gap: 1em 2em;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .HeaderContent {
    grid-template-columns: 7fr 1fr;
    gap: 0.5em 1em;
  }
}
@media only screen and (max-width: 350px) {
  .HeaderContent {
    gap: 0.1em 1em;
  }
}

.HeaderImageContainer {
  grid-row: 1/3;
}
@media only screen and (max-width: 600px) {
  .HeaderImageContainer {
    display: none;
  }
}

.headerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.HeaderHeader {
  color: #FF3333;
  text-shadow: -1px -1px 0 #bbb, 1px -1px #bbb, -1px 1px 0 #bbb, 1px 1px 0 #bbb;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-self: start;
}
@media only screen and (max-width: 900px) {
  .HeaderHeader {
    max-width: 90%;
  }
}

.HeaderHeader > h1 {
  margin: 0em;
}

.ltd {
  font-size: 0.6em;
}

.HeaderRight {
  display: flex;
  align-items: center;
  font-size: 1em;
}
@media only screen and (max-width: 900px) {
  .HeaderRight {
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.HeaderContact {
  color: white;
  margin-right: 3em;
  text-align: right;
}
@media only screen and (max-width: 900px) {
  .HeaderContact {
    text-align: left;
    margin-left: 2em;
    margin-right: 0em;
  }
}
@media only screen and (max-width: 600px) {
  .HeaderContact {
    font-size: 1em;
  }
}

.HeaderContactEntry {
  color: #ccc;
}

.HeaderContactEntry > a {
  text-decoration: none;
  color: #ccc;
}

.HeaderContactEntry > a:hover {
  color: #fff;
}

/* Style all font awesome icons */
.fa {
  padding: 0.6em 0.66em;
  font-size: 2.6em !important;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.burgerIcon {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .burgerIcon {
    display: block;
    width: 70px;
    height: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .burgerIcon {
    width: 40px;
    height: 40px;
  }
}
.burgerIcon:hover {
  opacity: 0.8;
}

.burgerBar {
  width: 100%;
  height: 10%;
  background-color: white;
  margin: 17.5% 0;
}

.nav {
  width: 100%;
  height: 100%;
  grid-column: 2/4;
  display: flex;
  color: #ddd;
  align-items: center;
  font-size: 1.6em;
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
}

.navLink {
  margin-right: 2em;
  text-align: center;
}

.navLink > a {
  text-decoration: none;
  color: #ccc;
}

.navLink > a:hover {
  color: #fff;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}
@media only screen and (max-width: 1400px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.project {
  width: 100%;
  position: relative;
  text-align: center;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
}

.projectTextArea {
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 1.2em;
  width: 100%;
  transform: translate(-50%, 0%);
  background-color: rgba(0, 0, 0, 0.5960784314);
}
@media only screen and (max-width: 1800px) {
  .projectTextArea {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 1400px) {
  .projectTextArea {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 900px) {
  .projectTextArea {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  .projectTextArea {
    font-size: 2em;
  }
}

.projectText {
  font-weight: 700;
  padding: 1em;
  color: #FFF;
}

.mobileNav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 50px;
  height: 50px;
  opacity: 1;
  cursor: pointer;
}

.close:hover {
  opacity: 0.8;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 100%;
  width: 8%;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.mobileNavList {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.mobileNavLink {
  margin: 1em 0em;
  font-size: 3em;
  text-align: center;
  color: white;
}

.mobileNavLink a {
  color: white;
  text-decoration: none;
}
.mobileNavLink a:hover {
  color: #bbb;
}

.galary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 20em;
  gap: 1em;
  grid-template-areas: "a b b c c" "a b b d e" "f f g h h" "i i g j j";
}
@media only screen and (max-width: 1800px) {
  .galary {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b b c" "d d e c" "f g g h" "f i j j";
  }
}
@media only screen and (max-width: 600px) {
  .galary {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a a" "b c" "b d" "e f" "g f" "h h" "i j";
  }
}
@media only screen and (max-width: 350px) {
  .galary {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j";
  }
}

.galaryImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}

.j {
  grid-area: j;
}

.contact_deetails {
  font-size: 2em;
}
@media only screen and (max-width: 1400px) {
  .contact_deetails {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 900px) {
  .contact_deetails {
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 350px) {
  .contact_deetails {
    font-size: 1.4em;
  }
}

.contract_entry {
  margin-bottom: 1em;
  text-align: center;
}
@media only screen and (max-width: 350px) {
  .contract_entry {
    text-align: left;
  }
}

.contact_lable {
  justify-self: end;
  color: #444;
}

.contact_item {
  justify-self: start;
  text-decoration: none;
  color: #222;
  font-weight: bolder;
  width: 10em;
}
.contact_item:hover {
  color: #444;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 0.5em;
  }
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  line-height: 0.6em;
}

.Banner {
  width: 100%;
  height: 20em;
  position: relative;
  text-align: center;
}

.BannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  filter: blur(6px);
  filter: brightness(20%);
}

.BannerInner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
  text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media only screen and (max-width: 1400px) {
  .BannerInner {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .BannerInner {
    width: 90%;
  }
}

.main {
  margin: 4em 10em;
}
@media only screen and (max-width: 1400px) {
  .main {
    margin: 4em 6em;
  }
}
@media only screen and (max-width: 900px) {
  .main {
    margin: 4em 4em;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    margin: 4em 1em;
  }
}

.about {
  margin-top: 2em;
  width: 100%;
  position: relative;
  text-align: center;
}

.aboutImage {
  width: 100%;
  height: 25em;
  object-fit: cover;
  object-position: 50% 5%;
}

.aboutInner {
  position: absolute;
  left: 80%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 2em;
  width: 20%;
}
@media only screen and (max-width: 900px) {
  .aboutInner {
    left: 80%;
    width: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .aboutInner {
    font-size: 1.5em;
  }
}

.rightText {
  margin-left: 50%;
}

.contactUsHere {
  color: black;
}

.contactUsHere:hover {
  color: black;
}

.Footer {
  background-color: black;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10em;
}

.FooterEntry {
  color: #ccc;
}

.FooterEntry > a {
  text-decoration: none;
  color: #ccc;
}

.FooterEntry > a:hover {
  color: #fff;
}

.Left {
  text-align: left;
  align-items: flex-start;
}

/*# sourceMappingURL=compiledStyle.css.map */
